<div class='container '>
    .<div class="row">
      <div class="col-xs-4">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          <h3>{{album.name}}</h3>
          <button class="btn btn-primary btn-add" ng-click='showAdd()'>Add Image</button>
      </div>
      <div class="col-xs-8">
          <form ng-if='showadd' ng-submit='addImage()'>
              <div class="form-group">
                  <label >Image Url:</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Image url">
              </div>
              <div class="form-group">
                  <label>Description:</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="description">
              </div>
              <button type="submit" class="btn btn-default" ng-click='hideAdd()'>Cancel</button>
              <button type="submit" class="btn btn-primary"><span class='glyphicon glyphicon-plus-sign'></span></button>
          </form>
      </div>
    </div>
    <hr>
    <div ng-repeat='image in images'>
        <div class=""> {{image.url}}</div>
        <div class="">
            {{image.name}}
        </div>
    </div>
</div>
