<div class='container '>
    <div class="row">
      <div class="col-xs-4">
          <button class="btn btn-primary btn-add" ng-click='showForm()'>Add Image</button>
      </div>
      <div class="col-xs-8">
          <form ng-if='showadd' ng-submit='addImage(image)'>
              <div class="form-group">
                  <label >Image Url:</label>
                  <input type="text" class="form-control" ng-model='image.url' placeholder="Image url">
              </div>
              <div class="form-group">
                  <label>Description:</label>
                  <input type="text" class="form-control" ng-model='image.description' placeholder="description">
              </div>
              <button class="btn btn-default" ng-click='hideForm()'>Cancel</button>
              <button type="submit" class="btn btn-primary"><span class='glyphicon glyphicon-plus-sign'></span></button>
          </form>
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col-xs-3" ng-repeat='image in images' ui-sref='imageDetail({id: image._id})'>
            <img class='img-detail' ng-src={{image.url}} alt="" />
            <p>{{image.description}}</p>
        </div>
    </div>
</div>
